In [1]:
import seaborn as sns
tp=sns.load_dataset("tips")
df=tp.copy()

In [3]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [4]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Obtaining dependency information for researchpy from https://files.pythonhosted.org/packages/b5/23/e9c7cf2ecf4d1aa734fe45f111379add92bdf78c5ebc202dfae565391b00/researchpy-0.3.5-py3-none-any.whl.metadata
  Downloading researchpy-0.3.5-py3-none-any.whl.metadata (941 bytes)
Requirement already satisfied: scipy in c:\users\meric\anaconda3\lib\site-packages (from researchpy) (1.10.1)
Requirement already satisfied: numpy in c:\users\meric\anaconda3\lib\site-packages (from researchpy) (1.24.3)
Requirement already satisfied: pandas in c:\users\meric\anaconda3\lib\site-packages (from researchpy) (1.5.3)
Requirement already satisfied: statsmodels in c:\users\meric\anaconda3\lib\site-packages (from researchpy) (0.14.0)
Requirement already satisfied: patsy in c:\users\meric\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\meric\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\meric\anaconda3\lib\site-packages (from pandas->researchpy) (2022.7)
Requirement already satisfied: six in c:\users\meric\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\meric\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.0)
Downloading researchpy-0.3.5-py3-none-any.whl (33 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.5

In [6]:
rp.summary_cont(df[["total_bill","tip","size"]]) #güven aralığı standart sapması vb. gösterir

C:\Users\meric\anaconda3\Lib\site-packages\researchpy\summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [10]:
rp.summary_cat(df[["sex","smoker","day"]]).T

C:\Users\meric\anaconda3\Lib\site-packages\researchpy\summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

              0       1       2      3      4      5      6     7
Variable    sex          smoker           day
Outcome    Male  Female      No    Yes    Sat    Sun   Thur   Fri
Count       157      87     151     93     87     76     62    19
Percent   64.34   35.66   61.89  38.11  35.66  31.15  25.41  7.79

In [11]:
df[["total_bill","tip"]].cov() #korelasyon

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [13]:
df[["total_bill","tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [15]:
import numpy as np
price=np.random.randint(1,110,1000)
price.mean()

55.692

In [17]:
import statsmodels.stats.api as sms #güven aralığı buluyor
sms.DescrStatsW(price).tconfint_mean()

(53.71526275810979, 57.66873724189021)

In [20]:
from scipy.stats import bernoulli
p=0.6
rv =bernoulli(p)
rv.pmf(k=0) #olasılık kütle fonksiyonu  = pmf

0.4

In [27]:
rng=np.random.RandomState(123)
for i in np.arange(1,21):
    deneys=2**i;
    yazitura=rng.randint(0,2,size=deneys) #1den 20ye kadar ilerin karesini alır ve np.meana alıp ort. alır
    olasilik=np.mean(yazitura)
    print("atış sayı",deneys ,"yazı olasılığı %.2f" % (olasilik*100))

atış sayı 2 yazı olasılığı 50.00
atış sayı 4 yazı olasılığı 0.00
atış sayı 8 yazı olasılığı 62.50
atış sayı 16 yazı olasılığı 43.75
atış sayı 32 yazı olasılığı 46.88
atış sayı 64 yazı olasılığı 56.25
atış sayı 128 yazı olasılığı 50.78
atış sayı 256 yazı olasılığı 52.73
atış sayı 512 yazı olasılığı 52.93
atış sayı 1024 yazı olasılığı 50.20
atış sayı 2048 yazı olasılığı 48.58
atış sayı 4096 yazı olasılığı 49.49
atış sayı 8192 yazı olasılığı 49.58
atış sayı 16384 yazı olasılığı 49.96
atış sayı 32768 yazı olasılığı 50.00
atış sayı 65536 yazı olasılığı 49.68
atış sayı 131072 yazı olasılığı 49.97
atış sayı 262144 yazı olasılığı 50.13
atış sayı 524288 yazı olasılığı 50.01
atış sayı 1048576 yazı olasılığı 50.09